/* CSS Document */
body {
background-color: #C9E4F2;
	
} 
.taskbar {
    background: url("../images/bg_taskbar.gif") repeat-x scroll center top transparent;
    bottom: 0;
    height: 25px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.taskbar_title {
    color: #0066FF;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    margin-left: 25px;
    margin-top: 7px;
}
.menu_taskbar {
    color: #0066FF;
    padding-left: 20px;
    text-decoration: none;
}
.menu_taskbar: hover {
    color: #FF0000;
    padding-left: 20px;
    text-decoration: none;
}
.taskbar_vip {
    background: url("../images/bg_ads_vip.gif") no-repeat scroll right center transparent;
    color: #0066FF;
    float: right;
    font-size: 10px;
    height: 15px;
    margin-right: 10px;
    margin-top: 6px;
    padding-top: 2px;
    width: 200px;
}