a {
    cursor: pointer;
    outline-style: none;
}
.MapMove {
    background: url("images/MapMoveZoom.png") no-repeat scroll left top transparent;
    height: 64px;
    position: relative;
    width: 65px;
}
.MMTop {
    height: 14px;
    left: 18px;
    position: absolute;
    text-indent: -9999px;
    top: 1px;
    width: 28px;
}
a.MMTop:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -79px top transparent;
}
a.MMTop:active {
    background: url("images/MapMoveZoom.png") no-repeat scroll -135px top transparent;
}
.MMRight {
    height: 28px;
    left: 47px;
    position: absolute;
    text-indent: -9999px;
    top: 16px;
    width: 14px;
}
a.MMRight:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -107px -14px transparent;
}
a.MMRight:active {
    background: url("images/MapMoveZoom.png") no-repeat scroll -163px -14px transparent;
}
.MMBot {
    height: 14px;
    left: 18px;
    position: absolute;
    text-indent: -9999px;
    top: 45px;
    width: 28px;
}
a.MMBot:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -79px -42px transparent;
}
a.MMBot:active {
    background: url("images/MapMoveZoom.png") no-repeat scroll -135px -42px transparent;
}
.MMLeft {
    height: 28px;
    left: 3px;
    position: absolute;
    text-indent: -9999px;
    top: 16px;
    width: 14px;
}
a.MMLeft:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -65px -14px transparent;
}
a.MMLeft:active {
    background: url("images/MapMoveZoom.png") no-repeat scroll -121px -14px transparent;
}
.MMTopRight {
    height: 11px;
    left: 39px;
    position: absolute;
    text-indent: -9999px;
    top: 12px;
    width: 11px;
}
a.MMTopRight:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -222px -13px transparent;
}
.MMBotRight {
    height: 11px;
    left: 39px;
    position: absolute;
    text-indent: -9999px;
    top: 37px;
    width: 11px;
}
a.MMBotRight:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -222px -24px transparent;
}
.MMBotLeft {
    height: 11px;
    left: 14px;
    position: absolute;
    text-indent: -9999px;
    top: 37px;
    width: 11px;
}
a.MMBotLeft:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -211px -24px transparent;
}
.MMTopLeft {
    height: 11px;
    left: 14px;
    position: absolute;
    text-indent: -9999px;
    top: 12px;
    width: 11px;
}
a.MMTopLeft:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -211px -13px transparent;
}
.MMCenter {
    height: 16px;
    left: 24px;
    position: absolute;
    text-indent: -9999px;
    top: 22px;
    width: 16px;
}
a.MMCenter:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -85px -20px transparent;
}
a.MMCenter:active {
    background: url("images/MapMoveZoom.png") no-repeat scroll -141px -20px transparent;
}
.MapZoom-top {
    background: url("images/MapMoveZoom.png") no-repeat scroll -233px top transparent;
    display: inline-block;
    left: 20px;
    position: relative;
    top: 5px;
    width: 23px;
}
.MapZoom-bot {
    background: url("images/MapMoveZoom.png") no-repeat scroll -256px bottom transparent;
    display: inline-block;
    width: 23px;
}
.MapZoom-center {
    background: url("images/MZCen.png") repeat scroll center top transparent;
    cursor: pointer;
    margin: 29px 0 32px;
    width: 23px;
}
.MZIn {
    height: 21px;
    left: 3px;
    position: absolute;
    text-indent: -9999px;
    top: 2px;
    width: 17px;
}
a.MZIn:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -177px top transparent;
}
a.MZIn:active {
    background: url("images/MapMoveZoom.png") no-repeat scroll -194px top transparent;
}
.MZOut {
    bottom: 5px;
    height: 20px;
    left: 3px;
    position: absolute;
    text-indent: -9999px;
    width: 17px;
}
a.MZOut:hover {
    background: url("images/MapMoveZoom.png") no-repeat scroll -177px -21px transparent;
}
a.MZOut:active {
    background: url("images/MapMoveZoom.png") no-repeat scroll -194px -21px transparent;
}
.MZScroll {
    background: url("images/MapMoveZoom.png") no-repeat scroll -211px -35px transparent;
    cursor: pointer;
    height: 14px;
    left: 3px;
    position: absolute;
    top: 21px;
    width: 17px;
}
.ZoomPinLeft {
    background: url("images/ZoomPin.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 15px;
    position: absolute;
}
.ZoomPinRight {
    background: url("images/ZoomPin.png") no-repeat scroll right -15px transparent;
    height: 15px;
}
.ZoomPinCenter {
    background: url("images/ZoomPin.png") repeat-x scroll left -30px transparent;
    color: #FFFFFF;
    font-family: Tahoma,Verdana,Geneva,sans-serif;
    font-size: 10px;
    height: 13px;
    margin: 0 3px 0 7px;
    padding: 1px 0;
    white-space: nowrap;
}
a.MiniMapBut1 {
    background: url("images/MapMoveZoom.png") no-repeat scroll -279px top transparent;
    display: block;
    height: 20px;
    width: 20px;
}
a.MiniMapBut1:hover {
    background-position: -279px -20px;
    display: block;
    height: 20px;
    width: 20px;
}
a.MiniMapBut2 {
    background: url("images/MapMoveZoom.png") no-repeat scroll -279px -40px transparent;
    display: block;
    height: 20px;
    width: 20px;
}
a.MiniMapBut2:hover {
    background-position: -279px -60px;
    display: block;
    height: 20px;
    width: 20px;
}
a.MiniMapBut3 {
    background: url("images/MapMoveZoom.png") no-repeat scroll -299px top transparent;
    display: block;
    height: 20px;
    width: 20px;
}
a.MiniMapBut3:hover {
    background-position: -299px -20px;
    display: block;
    height: 20px;
    width: 20px;
}
a.MiniMapBut4 {
    background: url("images/MapMoveZoom.png") no-repeat scroll -299px -40px transparent;
    display: block;
    height: 20px;
    width: 20px;
}
a.MiniMapBut4:hover {
    background-position: -299px -60px;
    display: block;
    height: 20px;
    width: 20px;
}
.VOverviewMapControl {
    -moz-box-shadow: 0 0 7px #555555;
    background-color: transparent;
}
.MiniMapBorderTopLeft {
    -moz-border-radius-bottomright: 5px;
    border-bottom: 1px solid #ACACAC;
    border-right: 1px solid #ACACAC;
}
.MiniMapBorderTopRight {
    -moz-border-radius-bottomleft: 5px;
    border-bottom: 1px solid #ACACAC;
    border-left: 1px solid #ACACAC;
}
.MiniMapBorderBottomLeft {
    -moz-border-radius-topright: 5px;
    border-right: 1px solid #ACACAC;
    border-top: 1px solid #ACACAC;
}
.MiniMapBorderBottomRight {
    -moz-border-radius-topleft: 5px;
    border-left: 1px solid #ACACAC;
    border-top: 1px solid #ACACAC;
}
.VOverviewBound {
    border: 1px solid #3399CC;
}


