#map{
	top:86px;
	right:120px;
	left:0;
	bottom:25px;
	position:fixed;
	border:1px #00CC66 solid;
	z-index: 0;
	-moz-box-shadow: 0 0 7px #555555;
}
/*.olControlPanZoomBar{
	left:300px!important;
	}*/