 #searchPopupContainer  
 {  
 
   	position:absolute;  
    left:0;  
 	top:0;  
    display:none;  
    z-index: 20000;  
}
#searchPopupContainer2  
 {  
   	position:absolute;  
    left:0;  
 	top:0;  
    display:none;  
    z-index: 20000;  
}   
.searchPopupPopup  
 {  
 
 }   
 #searchPopupContent  
{  
    background-color: #FFF;  
    min-width: 175px;  
    min-height: 300px;  
 } 
 #searchPopupContent2  
{  
    background-color: #FFF;  
    min-width: 175px;  
    min-height: 300px;  
 }   
 .searchPopupPopup .searchPopupImage  
 {  
     margin: 5px;  
     margin-right: 15px;  
 }   
.searchPopupPopup .corner   
  {  
      width: 19px;  
      height: 15px;  
  }        
 .searchPopupPopup .topLeft   
 {  
  background: url(images2/balloon_topLeft.png) no-repeat;  
   }      
 .searchPopupPopup .bottomLeft   
  {  
   background: url(images2/balloon_bottomLeft.png) no-repeat;  
}         
 .searchPopupPopup .left   
 {  
      background: url(images2/balloon_left.png) repeat-y;  
}        
  .searchPopupPopup .right   
 {  
     background: url(images2/balloon_right.png) repeat-y;  
 }       
 .searchPopupPopup .topRight   
  {  
     background: url(images2/balloon_topRight.png) no-repeat;  
 }       
.searchPopupPopup .bottomRight   
 {  
     background: url(images2/balloon_bottomRight.png) no-repeat;  
}         
 .searchPopupPopup .top   
 {  
     background: url(images2/balloon_top.png) repeat-x;  
 }        
.searchPopupPopup .bottom   
{  
      background: url(images2/balloon_bottom.png) repeat-x;  
       text-align: center;  
}

.SelectPlaceTitle {
    height: 38px;
    text-align: center;
    vertical-align: middle;
}
.SelectPlaceTitle h3 {
    color: #E37833;
    float: left;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    margin-top: 15px;
    left: 30px;
}
.idiem-a-icon {
    -moz-user-select: none;
    background: url("../images/Pins.png") no-repeat scroll left top transparent;
    color: #154600;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 29px;
    padding: 7px 15px 0 0;
    text-align: center;
    text-shadow: 0 1px #B4DC34;
    text-transform: uppercase;
    width: 26px;
    margin-top: 10px;
}
.TitFlag {
    float: right;
}
.SelectPlaceContent {
    background: url("../images/SPshadow-inset.png") no-repeat scroll left top transparent;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 250px;
    padding: 1px 5px 0px 0px;
}
.SelectPlaceContent2 {
    background: url("../images/SPshadow-inset.png") no-repeat scroll left top transparent;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 250px;
    padding: 1px 5px 0px 0px;
}
.maker-popup{
		width: 200px;
		height: 20px;
	}

/*#chicken{
	width: 270px !important;
	}
#chicken_FrameDecorationDiv_2{
	 width: 250px !important;
	}
#chicken_FrameDecorationDiv_0{
	 width: 250px !important;
	}
#chicken_FrameDecorationDiv_1{
	 width: 24px !important;
	}
#chicken_FrameDecorationDiv_3{
	 width: 24px !important;
	}*/

.maker-popup-div1 {
    padding-left: 15px;
    width: 260px;
}
.maker-popup-ten {
    color: black;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    margin-left: 15px;
    padding: 0 0 0 25px;
    text-align: left;
    width: 227px;
}
.maker-popup-diachi{
	font-size: 12px;
	height: auto;
	padding-left:20px;
	background: url("../images/address.gif") no-repeat scroll left top transparent;
	margin-top: 10px;
}
.maker-popup-sdt{
	font-size: 12px;
	height: auto;
	padding-left:20px;
	background: url("../images/phone.png") no-repeat scroll left top transparent;
	margin-top: 10px;
}
.maker-popup-div1 .maker-popup-footer {
    font-size: 12px;
    height: 20px;
    text-align: center;
    margin-left: 9px;
    margin-top: 10px;
}

.maker-popup-footer a{
	text-decoration: none;
	}
.maker-popup-div2{
	display: none;
	font-size: 12px;
	padding-left: 50px;
	margin-top: 10px;
	}
.maker-popup-div2 table tr{
	margin-bottom: 5px;
	}
.maker-popup-quaylai{
	width: 94px;
	background:  url(../images/lblue.png) no-repeat;  
	height: 25px;
	border: none;
	cursor: pointer;
	font-size: 11px;
	color: white;
	font-weight: bold;
	vertical-align:middle;
	font-family:"Times New Roman", Times, serif;
	}
.maker-popup-tim{
	width: 94px ;
	height: 25px;
	background:  url(../images/lblue.png) no-repeat;  
	border: none;
	cursor: pointer;
	font-size: 11px;
	color: white;
	font-weight: bold;
	vertical-align:middle;
	font-family:"Times New Roman", Times, serif;
	}
.maker-popup-quaylai:hover{
	background:  url(../images/lblue-h.png) no-repeat;  
	}
.maker-popup-tim:hover{
	background:  url(../images/lblue-h.png) no-repeat;  
	}
.popup-result{
	padding-left: 20px;
	background:  url(../map-icon/nganhang16.png) no-repeat; 
	text-decoration: none;
	padding-bottom: 10px;
	}
.coquan{
	background:  url(../map-icon/coquan16.png) no-repeat !important; 
	}
.truong{
	background:  url(../map-icon/truong16.png) no-repeat !important; 
	}
.benhvien{
	background:  url(../map-icon/benhvien16.png) no-repeat !important; 
	}
.cho{
	background:  url(../map-icon/cho16.png) no-repeat !important; 
	}
.ben{
	background:  url(../map-icon/ben16.png) no-repeat !important; 
	}
.khachsan{
	background:  url(../map-icon/khachsan16.png) no-repeat !important; 
	}
.congty{
	background:  url(../map-icon/congty16.png) no-repeat !important; 
	}
.giaitri{
	background:  url(../map-icon/giaitri16.png) no-repeat !important; 
	}
.denchua{
	background:  url(../map-icon/denchua16.png) no-repeat !important; 
	}
.buudien{
	background:  url(../map-icon/buudien16.png) no-repeat !important; 
	}
.nganhang{
	background:  url(../map-icon/nganhang16.png) no-repeat !important; 
	}
.congvien{
	background:  url(../map-icon/congvien16.png) no-repeat !important; 
	}
.cau{
	background:  url(../map-icon/cau16.png) no-repeat !important; 
	}
.thuvien{
	background:  url(../map-icon/thuvien16.png) no-repeat !important; 
	}
.result-div{
	font-size: 14px;
	height: auto;
	padding: 10px 5px 10px 5px;
	border-bottom: 1px solid #C1C1C1;
	}
.diachi-result{
	font-size: 12px;
	padding-left:20px;
	margin-top:10px;
	margin-left:10px;
	background: url("../images/address.gif") no-repeat scroll left top transparent;
	}
.sodienthoai-result{
	font-size: 12px;
	padding-left:20px;
	margin-top:5px;
	margin-left:10px;
	background: url("../images/phone.png") no-repeat scroll left top transparent;
	}
.result-div:hover{
	-moz-box-shadow: 0 -5px 0 #FFF3B0 inset, 0 -5px 35px #FFF3B0 inset, 0 3px 10px #FFF9D7 inset, 0 2px 8px rgba(200, 200, 200, 0.3);
    background: url("../images/hover.png") repeat scroll 0 0 transparent;
	}

.maker-popup-textdichvu{
	height: 15px;
	font-size: 12px;
	vertical-align: middle;
	width: 100px;
	-moz-border-radius: 5px 5px 5px 5px;
	border: 1px solid #C1C1C1;
	}
.maker-popup-textbankinh{
	height: 15px;
	font-size: 12px;
	vertical-align: middle;
	width: 100px;
	-moz-border-radius: 5px 5px 5px 5px;
	border: 1px solid #C1C1C1;
	}
.maker-popup-div2 .maker-popup-footer {
    font-size: 12px;
    height: 20px;
    text-align: center;
    margin-left: -40px;
    margin-top: 5px;
}
	