#map{
	top:10px;
	right:120px;
	left:10px;
	z-index: -1;
	height: 600px;
	width: 600px;
}
.inbando{
	top:10px;
	right: 20px;
	}
.inbando1{
	top:10px;
	left: 20px;
	position: fixed;
	}
body {
	overflow-y: scroll;
}
.scroll{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	overflow-y: scroll;
	}