#right_content{
	top:15%;
	left:90%;
	width:10%;
	height:81%;
	position:fixed;
	border:1px #00CC66 solid;
	}
.taskbar_right {
    color: #0066FF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    margin-left: 10px;
    margin-top: 7px;
    width: 100px;
}
.right-item {
    color: #0066FF;
    padding-left: 20px;
    text-decoration: none;
    font-size: 12px;
    width: 100px;
	
}
#right_content table{
	width: 100%;
	position: absolute;
}
#right_content table tr{
	height: 33px;
}
#right_content table tr td{
	border-top: 1px solid  threedshadow;
	padding-left: 7px;
	background-color: #CCFFCC;
}
