#right_content{
	top:86px;
	right:0;
	width:120px;
	bottom:25px;
	position:fixed;
	border:1px #00CC66 solid;
	overflow-y: auto; 
	-moz-box-shadow: 0 0 7px #555555;
	}
.taskbar_right {
    color: #0066FF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    margin-left: 10px;
    margin-top: 7px;
    width: 100px;
}
.right-item {
    color: blue;
    padding-left: 19px;
    text-decoration: none;
    font-size: 12px;
    width: 100px;
    right:0px;
	
}
#right_content table{
	width: 100%;
	position: absolute;
	border-right: 1px #00CC66 solid;
}
#right_content table tr{
	height: 27px;
	 
}
#right_content table tr td{
	/*border-top: 1px solid  threedshadow;*/
	padding-left: 4px;
	background: url("../images/s.png") no-repeat;
}
