#right_content{
	top:14%;
	right:-10px;
	width:157px;
	height:81%;
	position:fixed;
	/*border:1px #00CC66 solid;*/
	}
.taskbar_right {
    color: #0066FF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    margin-left: 10px;
    margin-top: 7px;
    width: 100px;
}
.right-item {
    color: blue;
    padding-left: 20px;
    text-decoration: none;
    font-size: 12px;
    width: 100px;
    right:0px;
	
}
#right_content table{
	width: 100%;
	position: absolute;
	border-right: 1px #00CC66 solid;
}
#right_content table tr{
	height: 36px;
	 
}
#right_content table tr td{
	/*border-top: 1px solid  threedshadow;*/
	padding-left: 15px;
	background: url("../images/collection.jpg") no-repeat 24% 4% #BCB39F;
}
