.bottom_content {
	left:0px;
    background: url(../images/bg_taskbar.gif) repeat-x scroll center top transparent;
    bottom: 0;
    height: 24px;
    position: fixed;
    width: 100%;
    z-index: 10;
    border: none solid;
}
.taskbar_title {
    color: #0066FF;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    margin-left: 10px;
}
.menu_taskbar {
    color: red;	
}
.menu_taskbar:hover {
    color: white;
}
.not-clicked{
	background: url(../images/green-1.png) no-repeat scroll 0 0 transparent;
	width: 93px;
	font-size: 11px;
	height: 24px;
	text-align: center;
	}
.not-clicked:HOVER{
	background: url(../images/red-1.png) no-repeat scroll 0 0 transparent;
	width: 93px;
	font-size: 11px;
	height: 24px;
	text-align: center;
	}
.clicked{
	background: url(../images/red-1.png) no-repeat scroll 0 0 transparent;
	width: 93px;
	font-size: 11px;
	height: 24px;
	text-align: center;
	}
.clicked .menu_taskbar{
	color: white;
	}
.taskbar_vip{
	left:300px;
	right:122px;
	height:24px;
	position: absolute;
	padding-top:2px;
	font-style: italic;
	}
.bottom_content table{
	position: absolute;
	}