/* CSS Document */
body {
/*background-color: #99CCCC;*/
	
} 
.header_content{
    background: url("../images/ab.png") repeat-x scroll left top transparent;
	width:100%;
	height: 15%;
	position: fixed;
	top:0;
	left:0;
}
.canthomap_logo{
	width: 200px;
	height:100%;
	background:url(../images/canthomap-logo.png) 100% 100%;
	position:absolute;
	left:0;
	top:0;
}
.left_content{
	width:25%;
	height:85%;
	position:fixed;
	left:0;
	top:15%;
	border-right:1px solid #CCCC33;
}
.splExpand {
    background: url("../images/bg-splExpand.png") repeat-y scroll 0 0 transparent;
    top:0;
    height: 100%;
    right: 0;
    position: absolute;
    width: 9px;
	vertical-align:middle;
	z-index:10;
}
.left_top_content{
	top:0;
	left:0;
	position:absolute;
	height:70%;
	background-color: #FFCCFF;
}
.left_bottom_content{
	bottom:0;
	left:0;
	position:absolute;
	height:20%;
	background-color: #FF0000;
}
.moveicon {
    background: url("../images/moveicon.png") no-repeat scroll right top transparent;
    height: 35px;
    left: 4px;
    position: absolute;
    width: 18px;
	z-index:10;
	top:42%;
	cursor:pointer;
}
.moveicon1 {
    background: url("../images/moveicon1.png") no-repeat scroll bottom left transparent;
    cursor: pointer;
    height: 18px;
    top: 4px;
    position: absolute;
    left: 60%;
    width: 35px;
    z-index: 10;
}
.splExpand1 {
    background: url("../images/bg-splExpand1.png") repeat-x scroll 0 0 transparent;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 9px;
    z-index: 10;
}
.right_content{
	/*background-color: #CCCC66;*/
	height:81%;
	right:0;
	position: fixed;
	top:15%;
	width:75%;
}
.right_top_content {
 background: url("../images/bg_taskbar.gif") repeat-x scroll center top transparent;
    top:0;
	right:0;
    height: 25px;
    position: absolute;
    z-index: 10;
	border-left:1px solid #CCCC33;
	border-bottom:1px solid #CCCC33;
}
.right_middle_content{
	width:100%;
	height:100%;
	position:absolute;
	border-top:1px solid #CCCC33;
}
.right_bottom_content {
    background: url("../images/bg_taskbar.gif") repeat-x scroll center top transparent;
    bottom: 0;
    height: 25px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.right_right_content {
	background-color:#00CC99;
    right: 0;
    height: 40%;
    position: absolute;
    width: 20px;
    z-index: 10;
	top:30px;
}
.taskbar_title {
    color: #0066FF;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    margin-left: 10px;
    margin-top: 7px;
}
.menu_taskbar {
    color: #0066FF;
    padding-left: 18px;
    text-decoration: none;
	
}
.menu_taskbar: hover {
    color: #FF0000;
    padding-left: 20px;
    text-decoration: none;
}
.taskbar_vip {
    background: url("../images/bg_ads_vip.gif") no-repeat scroll right center transparent;
    color: #0066FF;
    float: right;
    font-size: 10px;
    height: 15px;
    margin-top: 6px;
    padding-top: 2px;
    width: 200px;
	position:fixed;
	right:10px;	
}
#login {
    line-height: 18px;
    position: absolute;
    right: 10px;
    top: 0px;
}